@charset "utf-8";
/* CSS Document */

body{
    font-family: alegreya, serif;
	color: goldenrod;
	margin: 0;
	background-color: #0C3C7A;
	font-style: normal;
	font-weight: 300;
}
.clearfix::after {
	content: "";
	clear: none;
	display: table;
}
.clearfix {
	overflow: auto
}
.page-wrapper {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
}
.top-banner {
	width: 100%;
	height: 240px;
	background-image: url(../images/church_banner.jpg);
	background-position: center center;
	background-size: cover;
	padding-top: 20px 
}
#logo{
	width: 25%;
	float: right;
	margin-right: 100px;
	max-width: 200px;
}
.top-banner img{
	width: 130%;
	margin-left: auto;
	margin-right: auto;
}
.top-banner h1{
	font-size: 13px;
	text-align: center;
	color: goldenrod;
    font-family: alegreya, serif;
	font-style: normal;
	font-weight: 100;
	width: 269px;
}
nav ul{
	text-align: center;
	list-style-type: none;
	padding-left: 0;
}

nav a{
	text-decoration: none;
	color: white;
	background-color: grey;
	display: block;
	margin-bottom: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: bad-script, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3em;
}
nav a:hover{
	background-color: #ffd662;
}
h2, h3{
	color: white;
}
.main{
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}
.container-featured{
    margin: 2%;
}
.featured-images{
    display: block;
    width: 100%;
}
#pic1{
    background-image: url("../images/Carlos.JPG");
}
#pic2{
    background-image: url("../images/covid 2.jpg");
}
#pic3{
    background-image: url( "../images/front view.jpg");
}
#pic4{
    background-image: url("../images/man-praying-in-field.jpg");
}
#pic5{
    background-image: url( "../images/church 1.jpg");
}
#pic6{
    background-image: url( "../images/church 2.jpg");
}
#pic7{
    background-image: url( "../images/church 3.jpg");
}
#pic8{
    background-image: url( "../images/church 4.jpg");
}
.feature-img{
    width: 200px;
    border-radius: 10%;
    height: 200px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: thick;
}
.featured-images {
    text-align: center;
}
.featured {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#topic-one-img{
    width: 100%;
    background-image: url("../images/rapture 3.png");
    background-size: cover;
    height: 400px;
}
#topic-two-img{
    width: 100%;
    background-image: url("../images/Helping-Hands-006-4-17.png");
    background-size: cover;
    height: 400px;
}
#topic-three-img{
	width: 100%;
	background-image: url("../images/together.JPG");
	background-size: cover;
	height: 400px;
	transform: rotate(0.5turn);
	align-items: center;
	align-content: center;
}

.footer{
	width: 100%;
	background: grey;
	padding: 20px;
	box-sizing: border-box;
}
@media screen and (min-width:768px){
nav a {
    width: 16.6%;
    float: left;
}
#topic-two-img {
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}
	#topic-three-img{
		transform: rotate(0.5turn)
	}
.topic-one {
    margin-bottom: 20px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
}

@media screen and (min-width:960px){
.container-featured {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 48%;
}
.topic-one {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}
.topic-two {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}
#topic-one-img {
    width: 100%;
}
#topic-two-img {
    width: 100%;
}
#topic-three-img{
	transform:rotate(0.5turn)
	}	
.table{
	border: 5px #000000   
	}
}